* {
    font-family: "ZedMono Nerd Font Mono";
    font-size: 14px;
}

window#waybar {
    background-color: #f7f3ee;
    border-bottom: 1px solid #e4ddd2;
    color: #605a52;
}

window#waybar.hidden {
    opacity: 0.2;
}

@keyframes pulse {
    0% { background-color: #f6cfcb; }
    50% { background-color: #f00000; color: #ffffff; }
    100% { background-color: #f6cfcb; }
}

#language.ru {
    animation: pulse 0.5s ease-in-out infinite;
    background-color: #f6cfcb;
    color: #5b4343;
    font-weight: bold;
    border-radius: 4px;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #605a52;
}

#pulseaudio:hover {
    background-color: #f08c00;
    color: #ffffff;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #605a52;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.08);
}

#workspaces button.focused {
    background-color: #e4ddd2;
    box-shadow: inset 0 -3px #605a52;
}

#workspaces button.urgent {
    background-color: #f6cfcb;
    color: #5b4343;
}

#mode {
    background-color: #e4ddd2;
    box-shadow: inset 0 -3px #605a52;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #dde4f2;
    color: #4c5361;
}

#cpu {
    background-color: #e2e9c1;
    color: #525643;
}

#memory {
    background-color: #f1ddf1;
    color: #614c61;
}

#temperature {
    background-color: #f7e0c3;
    color: #5b5143;
}

#temperature.critical {
    background-color: #f00000;
    color: #ffffff;
}

#pulseaudio {
    background-color: #f7e0c3;
    color: #5b5143;
}

#pulseaudio.muted {
    background-color: #e4ddd2;
    color: #b9a992;
}

#tray {
    background-color: #e4ddd2;
    color: #605a52;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #f6cfcb;
    color: #5b4343;
}

#language {
    background: #d2ebe3;
    color: #465953;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#network {
    background-color: #dde4f2;
    color: #4c5361;
}

#network.disconnected {
    background-color: #f00000;
    color: #ffffff;
}
