* {
    font-family: FontAwesome, Zed Mono;
    font-size: 12px;
}

window#waybar {
    background-color: #f7f3ee;
    border-bottom: 1px solid #e8e4df;
    color: #605a52;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

@keyframes pulse {
    0% { background-color: #d55b4f; }
    50% { background-color: #b33a2e; }
    100% { background-color: #d55b4f; }
}

#language.ru {
    animation: pulse 0.5s ease-in-out infinite;
    background-color: #d55b4f;
    color: #ffffff;
    font-weight: bold;
    border-radius: 4px;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #605a52;
}

#pulseaudio:hover {
    background-color: #a87628;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #605a52;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.08);
}

#workspaces button.focused {
    background-color: #e8e4df;
    box-shadow: inset 0 -3px #605a52;
}

#workspaces button.urgent {
    background-color: #d55b4f;
}

#mode {
    background-color: #e8e4df;
    box-shadow: inset 0 -3px #605a52;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #4c7a90;
}

#cpu {
    background-color: #799a37;
    color: #ffffff;
}

#memory {
    background-color: #9868b1;
}

#temperature {
    background-color: #c0913a;
}

#temperature.critical {
    background-color: #d55b4f;
}

#pulseaudio {
    background-color: #c0913a;
    color: #ffffff;
}

#pulseaudio.muted {
    background-color: #e8e4df;
    color: #a09a92;
}

#tray {
    background-color: #e8e4df;
    color: #605a52;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #d55b4f;
}

#language {
    background: #54a07e;
    color: #ffffff;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#network {
    background-color: #4c7a90;
}

#network.disconnected {
    background-color: #d55b4f;
}
