* {
    font-family: "ZedMono Nerd Font Mono";
    font-size: 14px;
}

window#waybar {
    background-color: #282828;
    border-bottom: 1px solid #3c3836;
    color: #ebdbb2;
}

window#waybar.hidden {
    opacity: 0.2;
}

@keyframes pulse {
    0% { background-color: #cc241d; }
    50% { background-color: #9d0006; }
    100% { background-color: #cc241d; }
}

#language.ru {
    animation: pulse 0.5s ease-in-out infinite;
    background-color: #cc241d;
    color: #fbf1c7;
    font-weight: bold;
    border-radius: 4px;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ebdbb2;
}

#pulseaudio:hover {
    background-color: #b57614;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ebdbb2;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #504945;
    box-shadow: inset 0 -3px #ebdbb2;
}

#workspaces button.urgent {
    background-color: #cc241d;
}

#mode {
    background-color: #504945;
    box-shadow: inset 0 -3px #ebdbb2;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ebdbb2;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #458588;
}

#cpu {
    background-color: #98971a;
    color: #282828;
}

#memory {
    background-color: #b16286;
}

#temperature {
    background-color: #fe8019;
}

#temperature.critical {
    background-color: #cc241d;
}

#pulseaudio {
    background-color: #d79921;
    color: #282828;
}

#pulseaudio.muted {
    background-color: #504945;
    color: #928374;
}

#tray {
    background-color: #3c3836;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #cc241d;
}

#language {
    background: #689d6a;
    color: #282828;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#network {
    background-color: #458588;
}

#network.disconnected {
    background-color: #cc241d;
}
